:target {
  scroll-margin-block-start: gap(2);
}

::selection {
  background-color: var(--focus-background-color);
  color: var(--focus-color);
}

::target-text {
  background-color: var(--focus-background-color);
  color: var(--focus-color);
}

html {
  font-kerning: normal;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--body-background-color);
  color: var(--body-color);
}
