.btn {
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: rem(1) solid transparent;
  border-radius: rem(4);
  color: var(--link-color);
  display: inline-block;
  font: inherit;
  padding: rem(4);
  text-align: center;
  text-decoration: none;


  // Firefox: removes the inner border shown on focus

  &::-moz-focus-inner {
    border: none;
  }

  &--primary {
    background-color: var(--body-background-color);
    border-color: var(--link-color);
    color: var(--link-color);
    padding-inline: rem(12);
    text-decoration-skip-ink: auto;
    text-decoration-skip: edges;
    text-decoration-thickness: rem(1);
    text-underline-offset: 0.2ex;


    &:hover,
    &:focus-visible,
    &:active,
    &[aria-pressed='true'] {
      background-color: var(--link-color);
      color: var(--body-background-color);
    }
  }

  &--secondary {
    background-color: transparent;
    border-color: var(--link-color);
    color: var(--link-color);
    padding-inline: rem(12);
    text-decoration-skip-ink: auto;
    text-decoration-skip: edges;
    text-decoration-thickness: rem(1);
    text-underline-offset: 0.2ex;


    &:hover,
    &:focus-visible,
    &:active {
      background-color: var(--link-color);
      color: var(--body-background-color);
    }
  }

  &--tertiary {
    background-color: inherit;
    border-color: transparent;
    color: var(--link-color);
    padding-inline: rem(12);
    text-decoration-line: underline;
    text-decoration-skip-ink: auto;
    text-decoration-skip: edges;
    text-decoration-thickness: rem(1);
    text-underline-offset: 0.2ex;


    &:hover,
    &:focus-visible,
    &:active {
      background-color: var(--link-color);
      color: var(--body-background-color);
    }
  }
}
