* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
}

a,
button {
  touch-action: manipulation;
}

input,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
}

img {
  block-size: auto;
  display: block;
  max-inline-size: 100%;
}
