:root {
  /**
   * Breakpoints
   *
   * Future TODO: calc() won’t work when applied to media queries.
   * Future TODO: CSS variables won’t work when applied to media queries.
   */
  --breakpoint-sm: #{math.div(500, 16) + em};  // 500px
  --breakpoint-md: #{math.div(700, 16) + em};  // 700px
  --breakpoint-lg: #{math.div(1000, 16) + em}; // 1000px
  --breakpoint-xl: #{math.div(1200, 16) + em}; // 1200px
  --breakpoint-xxl: #{math.div(2000, 16) + em};// 2000px

  /**
   * Typo
   *
   */
  --font-body: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;// 'Iowan Old Style', 'Iowan', 'Garamond', 'Palatino', 'Times New Roman', serif; // -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  --font-heading: var(--font-body);
  --base-font-size: 18;
  --base-line-height: 1.67;

  /**
   * Spacing
   *
   */
  --gap: var(--base-line-height);

  /**
   * Color scheme
   *
   */
  --black: #000000;
  --black-1: #1c1917;
  --black-3: #2b3236;
  --white: #ffffff;
  --yellow: #ffff00;
  --gray: #444444;
  --gray-6: #e7e5e4;
  --blue: #0000ff;

  // Body
  --body-background-color: var(--white);
  --body-color: var(--gray);

  // Focus
  --focus-background-color: var(--yellow);
  --focus-color: var(--gray);

  // Link
  --link-color: var(--blue);

  // Picture
  --picture-background-color: color-mix(in srgb, var(--white) 97%, var(--black));

  // Shadow
  --shadow-color: color-mix(in srgb, var(--gray) 30%, transparent);
}

@mixin color-scheme-dark {
  // Body
  --body-background-color: var(--black-1);
  --body-color: var(--gray-6);

  // Focus
  --focus-background-color: var(--black-3);
  --focus-color: var(--gray-6);

  // Link
  --link-color: var(--gray-6);

  // Picture
  --picture-background-color: color-mix(in srgb, var(--black) 14%, var(--black-1));

  // Shadow
  --shadow-color: color-mix(in srgb, var(--gray) 12%, transparent);
}

$base-font-size: 18 !default;
$base-line-height: 1.67 !default;
