<script src="/assets/js/main.js" type="module"></script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Benjamin de Oostfrees",
    "jobTitle": "Webentwickler",
    "url": "https://deoostfrees.dev",
    "description": "Frontend Webentwickler (Barrierefreiheit, Performanz, HTML, CSS, JavaScript), Minimalist, AFOL (Adult fan of LEGO®).",
    "image": "https://deoostfrees.dev/images/deoostfrees.jpg",
    "sameAs": [
      "https://mstdn.social/@deoostfrees",
      "https://codepen.io/deoostfrees",
      "https://github.com/deoostfrees"
    ]
  }
</script>
