.page {
  background-color: var(--body-background-color);
  box-shadow: 0 calc((4 / var(--base-font-size)) * 1rem) calc((8 / var(--base-font-size)) * 1rem) 0 rgba(0 0 0 / 5%);
  color: var(--body-color);
  min-block-size: 100svh;
  padding-block: 1rlh;
  position: relative;
  z-index: 1;

  @media screen and (width >= 1200px) {
    padding-block-end: 6rlh;
  }
}

.page__content {
  display: grid;
  grid-column: breakout;
  grid-template-columns: subgrid;
  margin-block-start: 3rlh;

  @media screen and (width >= 1200px) {
    grid-area: breakout-start / breakout-start / breakout-end / breakout-end;
    grid-template-columns: subgrid;
    margin-block-start: 5rlh;
  }
}

.page__nav {
  grid-column: content;
  justify-self: end;
  margin-block-start: 4rlh;
  min-inline-size: calc((112 / var(--base-font-size)) * 1rem);
  transform: rotate(-2deg);

  @media screen and (width >= 1200px) {
    grid-area: content-end / content-end / breakout-end / breakout-end;
    margin-block-start: 0;
  }

  & li {


    &::marker {
      content: '-\0020';
    }
  }

  & [aria-current] {
    font-weight: 700;
  }

  & .back {
    align-items: center;
    column-gap: 1ex;
    display: flex;
    margin-block-start: 0.5rlh;
    margin-inline-start: calc(((16 / var(--base-font-size) * -1rem) - 1ex));
  }
}

.page__footer {
  --link-color: currentcolor;
  --link-hover-color: currentcolor;

  background-color: var(--page-footer-background-color);
  content-visibility: auto;
  color: var(--page-footer-color);
  inset-block-end: 0;
  padding-block: 1rlh;
  position: sticky;


  & > div {
    grid-column: content;
  }

  & ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: calc((16 / var(--base-font-size)) * 1rem);
    justify-content: center;
    list-style: none;


    & a {
      display: flex;
    }
  }

  & [aria-current] {
    font-weight: 700;
  }
}

.grid {
  align-items: start;
  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-end];
  place-content: start;


  & .grid__breakout {
    grid-column: breakout;
  }

  & .grid__full {
    grid-column: full;

    display: grid;
    grid-template-columns: inherit;
  }
}

.mööv {
  grid-column: breakout;
  inset-block-end: 0;
  justify-self: end;
  position: absolute;
  transform: rotate(-4deg) scaleX(-1);
}

.superpower {
  background-color: #FF78FB;
  color: var(--black);
  padding-inline: calc((2 / var(--base-font-size)) * 1rem);

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: superpower 0.5s linear;
    animation-iteration-count: infinite;
  }
}

@keyframes superpower {
  0% {
    background-color: #FF7878;
  }

  25% {
    background-color: #9FFF78;
  }

  50% {
    background-color: #78A8FF;
  }

  75% {
    background-color: #FF78FB;
  }

  100% {
    background-color: #FFFBE9;
  }
}
