<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{- partial "head" . -}}

  <body class="archive">
    <a class="btn skip-link" href="#inhalt">Zum Inhalt springen</a>

    <div class="page">
      {{- partial "nav" . -}}

      <main id="inhalt" class="page__main">
        <article class="article article--{{ .Type }}">
          <header class="article__header">
            <h1>{{ .Title | safeHTML }}</h1>
          </header>
        </article>

        {{- $pages := where .Site.RegularPages "Type" "!=" "page" }}
        {{- $.Scratch.Set "count" 1 }}
        <nav class="page__nav page__nav--article-list" aria-label="Artikel">
          {{- range $pages.GroupByDate "2006" }}
          {{- $year := .Key }}
          <ol>
            {{- range .GroupByDate "January" }}
            <li>
              <h2 class="headline" aria-label="{{ $year }} {{ .Key }}">
                {{- if (eq ($.Scratch.Get "count") 1) }}
                  {{- $.Scratch.Set "count" 0 }}
                    <span class="year">{{ $year }}</span>
                {{- end }}

                {{- $.Scratch.Set "count" 1 }}
                <span class="month">{{ .Key }}</span>
              </h2>

              <ol class="monthlist">
                {{- range .ByDate.Reverse }}
                <li data-type="{{ .Type }}">
                  <span>{{ .Date.Format "2"}}.</span>
                  <span class="ellipses"></span>
                  <span>
                    <a href="{{ .Permalink }}">{{ .Title | safeHTML }}</a>
                  </span>
                </li>
                {{- end }}
              </ol>
            </li>
            {{- end }}
          </ol>
          {{- end }}

          <div class="filter">
            <button type="button" class="btn btn--primary" data-type="" aria-disabled="true" aria-pressed="true">Alle</button>
            {{ range first 1 (where .Site.RegularPages "Type" "post") }}
              <button type="button" class="btn btn--primary" data-type="post" aria-disabled="true" aria-pressed="false">Artikel</button>
            {{- end }}
            {{ range first 1 (where .Site.RegularPages "Type" "book") }}
              <button type="button" class="btn btn--primary" data-type="book" aria-disabled="true" aria-pressed="false">Bücher</button>
            {{- end }}
            {{ range first 1 (where .Site.RegularPages "Type" "image") }}
              <button type="button" class="btn btn--primary" data-type="image" aria-disabled="true" aria-pressed="false">Bilder</button>
            {{- end }}
          </div>
        </nav>
      </main>

      {{- partial "footer" . -}}
    </div>

    {{- partial "script" . -}}
  </body>
</html>
