.page {
  display: flex;
  flex-direction: column;
  min-block-size: 100svh;
  padding-block: gap(1.5);


  &__main {
    flex-grow: 1;
    margin-block-start: gap(4);


    body:not(.home) & {
      margin-block-start: calc(#{gap(4)} - #{rem(40)});
    }

    body:not(.home) &:has(.article--page) {
      margin-block-start: calc(#{gap(5)} - #{rem(40)});
    }
  }

  &__nav,
  &__footer {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__footer {
    margin-block-start: gap(5);

    @media screen and (min-width: em(700, 16)) {
      margin-block-start: gap(6);
    }

    body:not(.archive) & {
      margin-block-start: gap(6);

      @media screen and (min-width: em(700, 16)) {
        margin-block-start: gap(7);
      }
    }
  }
}

.grid {
  // Grid
  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-end];


  & > :not(.grid__breakout, .grid__full),
  &__full > :not(.grid__breakout, .grid__full) {
    grid-column: content;
  }

  &__breakout {
    grid-column: breakout;
  }

  &__full {
    grid-column: full;

    display: grid;
    grid-template-columns: inherit;
  }
}
