.page {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  margin-inline: auto;
  max-inline-size: rem(1800);
  min-block-size: 100svh;
  padding: gap(1.5);


  &__main {
    flex-grow: 1;
    inline-size: 100%;
    margin-block-start: gap(4);
    margin-inline: auto;
    max-inline-size: rem(1200);


    body:not(.home) & {
      margin-block-start: calc(#{gap(4)} - #{rem(40)});
    }

    body:not(.home) &:has(.article--page) {
      margin-block-start: calc(#{gap(5)} - #{rem(40)});
    }
  }

  &__nav,
  &__footer {
    flex-grow: 0;
    flex-shrink: 0;
    inline-size: 100%;
  }

  &__footer {
    margin-block-start: gap(5);

    @media screen and (min-width: em(700, 16)) {
      margin-block-start: gap(6);
    }

    body:not(.archive) & {
      margin-block-start: gap(6);

      @media screen and (min-width: em(700, 16)) {
        margin-block-start: gap(7);
      }
    }
  }
}
