:root {
  /**
   * Spacing
   *
   */
  --scroll-padding-top: 2rlh;
  --scroll-padding-bottom: 0;

  --base-font-size: 18;
  --base-line-height: calc((30 / var(--base-font-size)));

  --font-body: system-ui, sans-serif;
  --font-heading: var(--font-body);

  /* small */
  --small-font-size: calc((16 / var(--base-font-size)) * 1rem);
  --small-line-height: calc((27 / 16));

  --padding-inline: 1rlh;
  --content-max-width: calc((612 / var(--base-font-size)) * 1rem);
  --breakout-max-width: calc((1800 / var(--base-font-size)) * 1rem);

  --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

  /**
   * Layout
   *
   */

   /* Grid */
   --grid-gutter-vertical: calc((24 / var(--base-font-size)) * 1rem);
   --grid-gutter-horizontal: calc((24 / var(--base-font-size)) * 1rem);
}
