.article {



  & > * + *:not(header) {
    margin-block-start: gap(1);
  }

  & ul {



    & li {



      &::marker {
        content: '\2013\00A0';
      }

      & + li {
        margin-block-start: gap(0.5);
      }
    }

    & + * {
      margin-block-start: gap(1.5);
    }
  }

  & header + * {
    margin-block-start: gap(2);

    @media screen and (min-width: em(700, 16)) {
      margin-block-start: gap(2.5);
    }
  }

  & figure {
    margin-block-start: gap(2);
    margin-inline: gap(-1);

    @media screen and (min-width: em(700, 16)) {
      margin-block-start: gap(2.5);
      margin-inline: 0;
    }
  }

  & img {
    margin-inline: auto;
  }

  & figure + * {
    margin-block-start: gap(2);

    @media screen and (min-width: em(700, 16)) {
      margin-block-start: gap(2.5);
    }
  }

  & figcaption {
    font-size: rem(16);
    text-align: center;
  }

  & * + figcaption {
    margin-block-start: gap(0.5);

    @media screen and (min-width: em(700, 16)) {
      margin-block-start: gap(1);
    }
  }

  & picture {
    background-color: var(--picture-background-color);
    border-radius: rem(2);
    display: block;
    padding: gap(1);

    @media screen and (min-width: em(700, 16)) {
      padding: gap(2);
    }


    & img {
      border-radius: rem(2);
      box-shadow: 0 rem(15) rem(25) var(--shadow-color);
      inline-size: auto;
      max-block-size: 80svh;
    }
  }

  & > * + h2,
  & > * + h3 {
    margin-block-start: gap(2);

    @media screen and (min-width: em(1400, 16)) {
      margin-block-start: gap(2.5);
    }
  }

  & + & {
    margin-block-start: gap(6);
  }

  &__rate {
    display: flex;
  }
}
